@import 'mixin.scss';

.customers {
    margin-top: 192px;
    margin-bottom: 128px;
    @media (max-width: 900px){
        margin-bottom: 70px;
    }
}

.customers__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 26px;
    @include adaptiv-value("grid-gap", 26, 5, 1);
    @media (max-width: 800px){
        grid-template-columns: 1fr;
    }
}

.customers__column {
    width: 100%;
    padding: 44px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include adaptiv-value("padding", 44, 4, 1);
}

.customers__title {
    padding: 0;
    margin: 0;
    justify-content: flex-start;
}


.customers__text {
    font-size: 16px;
    line-height: 1.5;
    color: $gray2;
    padding-top: 4px;
    padding-bottom: 40px;
}

.customers__user {
    display: flex;
    align-items: center;
}

.user__foto {
    display: block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 17px;
}

.user__name {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    color: $secondary2;
}